*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Roboto;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  margin: 0 auto;
  background-image: url(https://github.com/katrinalalata/frontendchallenge/blob/master/navbb.png?raw=true);
  background-size: cover;
  padding: 32px;
  position: fixed;
  width: 420px;
  height: 65px;
  background-color: #FFFFFF;
}

.eta {
  text-align: right;
  display: inline-block;
  /*width: 85%;*/
}

/*.arrow {

}*/

.content {
  text-align: left;
  display: inline-block;
  /*width: 100%;*/
}

.routes {
  padding-top: 65px;
  width: 100%;
  background-color: #FFFFFF;

}

h1 {
  font-weight: bold;
}

.direction {
  background-color: #F2C94C;
  float: left;
  margin: 3%;
  padding: 2%;
  width: 40%;
}

.busnum {
  display: inline-block;
  background-color: #6FCF97;
  text-align: center;
  float: left;
width: 40px;
  padding: 10px;
  margin: 0 auto;
}

.location {
  padding: 15px;
  clear: both;
  border-bottom: solid;
  border-width: thin;
  border-color: #CECECE;
  width: 95%;
  margin: 5%;
}

.location:after { clear: both; display: table; content: ''; }

.location:hover {
  background-color: #E5E5E5;
} /* mouse over */
