*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: Roboto;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

.navbar {

}
nav {
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

.arrow {
  float: right;
  width: 20%;
}

.content {
  float: left;
  width: 60%;
}

.restaurant-list {
  padding-top: 65px;
  width: 100%;
  background-color: #e8eaed;

}

h1 {
  font-weight: bold;
}

.direction {
  background-color: #F2C94C;
  float: left;
  margin: 3%;
  padding: 2%;
  width: 40%;
}

.busnum {
  background-color: #6FCF97;
  float: left;
  width: 10%;
  margin: 1%;
  padding: 1%;
}

.location {
  padding: 20px;
  clear: both;
  border-bottom: solid;
  border-width: thin;
  border-color: #84888e;
}

.location:after { clear: both; display: table; content: ''; }

.location:hover {
  background-color: #b2b4b7;
} /* mouse over */
